.bg-scarlet-osu {
  background-color: #bb0000;
}

.bg-slogan {
  background-color: #666666; }

.slogan-text {
    text-align: center;
    color: white;
    word-spacing: 200px; }

.colored-bg-text {
  color: white;
}
